/BAI1/nbproject/private/
out
.idea
JAVA-CORE-08.iml
/contructors/nbproject/private/
/contructors/build/
/testwws3/nbproject/private/
/aaaaaa/nbproject/private/
/aaaaaa/build/
/JavaApplication34/nbproject/private/
/part3/nbproject/private/
/hshshshss/nbproject/private/
/hshshshss/build/